opencv-python
mediapipe
deepface
tensorflow
tf-keras
torch
fastapi
uvicorn[standard]
streamlit
streamlit-webrtc
scikit-learn
matplotlib
numpy
pandas
kagglehub
pillow
python-multipart
scipy
cryptography
pytest
